@page
@model Demo.Pages.CalculatorModel
@{
    ViewData["Title"] = "Kalkulator";
}

<h1>Kalkulator</h1>


<label asp-for="Number1">Heltall 1</label>
<input asp-for="Number1" />
<label asp-for="Number2">Heltall 2</label>
<input asp-for="Number2" />
<input asp-for="Total" />